[submodule "go-sdk/src/github.com/ninchat/ninchat-go"]
	path = go-sdk/src/github.com/ninchat/ninchat-go
	url = https://github.com/ninchat/ninchat-go.git
[submodule "go-sdk/src/github.com/gorilla/websocket"]
	path = go-sdk/src/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket.git
[submodule "webrtc/depot_tools"]
	path = webrtc/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
